body, h1, h2, h3, h4, h5, h6 {
margin:0;
font-family:GungsuhChe
}

body 
{
	color: Maroon;
	background-color: #eee;
}

#header
{
height: 40px;
background-color:maroon;
color:#eee;
padding: 50px 0px 10px 20px;	
}

html>#header
{
height: 40px;	
}

#alpha
{
	padding: 20px;
}

a, a:visited
{
	color: darkorange;
}

